* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container-Home {
    height: 100vh;
    width: 100%;
    min-width: 100vw;
    background: black;
}

.box-navbar-main-box {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.leftside-box-navbar .leftside-navbar,
.unorder-list-leftside-navbar,
.link-pages {
    display: inline;
    padding: 0px 20px;
    list-style: none;
}

.leftside-box-navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.leftside-box-navbar a:hover {
    border-bottom: 3px solid red;
    transition: 0.3s;
    padding-bottom: 4px;
}

.rightside-box-navbar .right-navbar,
.unorder-list-rightside-navbar,
.link-pages {
    display: inline;
    padding: 0px 20px;
    list-style: none;
}

.rightside-box-navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.middle-logo-circle-color-anime {
    height: 50px;
    width: 50px;
    background: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px;
}

.middle-logo-circle-color-anime:hover {
    background: transparent;
    cursor: pointer;
    color: #fff;
    animation: backgroundcolor 7s linear infinite;
}

@keyframes backgroundcolor {
    0% {
        background: linear-gradient(to top, rgb(255, 17, 0), rgb(255, 208, 0));
    }

    20% {
        background: linear-gradient(to bottom, rgb(209, 44, 33), rgb(20, 234, 216));
    }

    40% {
        background: linear-gradient(to right, rgb(57, 23, 179), rgb(29, 217, 51));
    }

    60% {
        background: linear-gradient(to bottom, rgb(4, 107, 122), rgb(147, 9, 9));
    }

    80% {
        background: linear-gradient(to left, rgb(224, 95, 26), rgb(11, 229, 146));
    }

    100% {
        background: linear-gradient(to top, rgb(255, 0, 225), rgb(164, 37, 52));
    }
}

.fa {
    font-size: 30px;
   
}

.fa-facebook:hover {
    color: blue;
    transform: translateY(-5px);
}

.fa-google:hover {
    color: rgb(255, 251, 0);
    transform: translateY(-5px);
}

.fa-linkedin:hover {
    color: rgb(0, 149, 255);
    transform: translateY(-5px);
}

.fa-reddit:hover {
    color: rgb(255, 0, 0);
    transform: translateY(-5px);
}


/* main part image and picture
*/

.main-container-images-and-text {
    height: 600px;
    width: 100%;
    min-width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text {
    width: 600px;
    color: #fff;
}

.heading {
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.subheading {
    font-size: 1.3rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 5%;
    padding: 5px;
}

button {
    width: 120px;
    height: 30px;text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px; }

button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 50px rgb(230, 12, 12);
}

.main-container-images-and-text img {
    width: 600px;
}

.right-side-image {
    height: 150px;
    width: 300px;
    position: absolute;
    right: 0%;
    top: 75%;
}

.circle {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 5%;
    top: 80%;
    border-radius: 50%;
    text-align: center;
    background: transparent;
    animation: backgroundcolor 1s linear infinite;
    color: #fff;
}

#text {
    margin-top: 35%;
    text-transform: capitalize;
}